*.pth.tar
*.pth
*.pt
*.model
*.pkl
*.ipynb
*.state
*.zip
*.tar
*.tar.gz
*.rar
*.pyc
*.png
*.jpg
*.JPG
*.zip
*.xlsx
*.jpeg
*.avi
*.mp4
*.gif
*.log
*.csv
*events.out.tfevents*

checkpoints/temp
vvenc_150/vvenc
XMem/dataset_space
XMem/saves
coding_buffer_space
VideoDatasetList